/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

h1, h2, h3, h4, h5, h6 {
  font-family: "news-gothic-std", sans-serif;
  line-height: 1.3; }

h1 {
  font-size: 2rem;
  font-weight: 700; }

h2, h3, h4, h5, h6 {
  font-weight: 400;
  color: #111; }

h2 {
  font-size: 1.75rem; }

h3 {
  font-size: 1.5rem; }

h4 {
  font-size: 1.3rem; }

p, a, .caption, li {
  font-family: "merriweather", serif;
  line-height: 1.8;
  font-size: 1.1rem; }

input {
  font-family: "merriweather", serif;
  font-size: 0.75rem; }

input:focus {
  outline: 0; }

p {
  color: #333; }

a {
  font-style: italic;
  color: #0288D1; }

a:hover {
  color: #01466c; }

.caption {
  font-weight: 300;
  font-style: italic;
  color: #555;
  font-size: 0.8rem;
  line-height: 1.2; }

.header-nav ul ul li a {
  font-size: 0.9rem; }

/*GENERAL*/
.wrapper {
  width: 90%;
  max-width: 1100px;
  margin-right: auto;
  margin-left: auto; }

img {
  width: 100%;
  margin-bottom: 1rem; }

a {
  text-decoration: none; }

/*HEADER*/
header {
  margin-bottom: 2rem;
  border-bottom: 2px solid #448AFF; }

.header-nav {
  width: 100%;
  white-space: nowrap;
  overflow-y: hidden;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch; }

.header-nav ul {
  display: inline-block; }

.header-nav ul li {
  display: inline-block;
  margin-right: 20px; }

.header-nav ul li:last-of-type {
  margin-right: 0; }

.header-nav .toggle {
  opacity: 0; }

.header-nav ul ul {
  display: none;
  position: absolute;
  background-color: white;
  margin-top: 10px;
  padding: 10px;
  margin-left: -5px;
  box-shadow: 2px 2px 5px #448AFF; }

#show-list4 {
  margin-left: -90px; }

.header-nav ul ul li {
  display: block; }

.logo-search-bg {
  background-color: #f6faff;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem; }

.logo-search-wrapper {
  width: 90%;
  margin-right: auto;
  margin-left: auto; }
  .logo-search-wrapper .wordmark {
    margin-bottom: 1rem;
    width: 300px; }
  .logo-search-wrapper .move-input {
    margin-bottom: 1rem;
    padding-top: 0.475rem; }
    .logo-search-wrapper .move-input input {
      border: 2px solid #555;
      width: 280px;
      height: 30px; }

.header-nav-wrapper {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem; }

/*STICKY HEADER*/
.fixed {
  position: fixed;
  top: 0;
  background-color: white;
  border-bottom: 2px solid #448AFF;
  width: 100%; }
  .fixed nav {
    width: 90%;
    margin-right: auto;
    margin-left: auto; }

/*ARTICLE*/
.date {
  font-size: 0.75rem;
  margin-top: 0.5rem; }

.author {
  font-size: 1rem;
  margin-top: 0.25rem; }

article {
  margin-top: 1.25rem;
  margin-bottom: 2rem;
  max-width: 725px; }
  article p {
    margin-bottom: 1rem; }

.caption {
  margin-top: -0.5rem; }

.share {
  margin-top: 0.5rem; }
  .share img {
    width: 20px;
    margin-right: 10px; }
  .share img:last-of-type {
    width: 30px;
    margin-right: 0px;
    margin-left: -9px; }

/*ASIDE*/
aside {
  margin-bottom: 2.5rem; }

.headlines {
  margin-bottom: 1.25rem; }

.headlines h2, .related h2 {
  text-transform: uppercase; }

.headlines li, .related li {
  margin-bottom: 0.4rem; }

.headlines li:last-of-type, .related li:last-of-type {
  margin-bottom: 0; }

/*FOOTER*/
footer {
  clear: both;
  border-top: 2px solid #448AFF;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #f6faff; }
  footer a {
    font-size: 0.9rem;
    line-height: 0.75; }

.footer-wrapper {
  width: 90%;
  margin-right: auto;
  margin-left: auto; }

.footer-nav, .secondary-footer-nav {
  padding-bottom: 1.5rem; }

.social-copyright .social-icons img {
  width: 30px;
  margin-right: 20px; }
.social-copyright .social-icons img:last-of-type {
  margin-right: 0; }
.social-copyright p {
  font-size: 0.9rem; }

/*HEADER, ASIDE, FOOTER, ARTICLE IMG CHANGES*/
@media screen and (min-width: 550px) {
  /*HEADER*/
  .logo-search-wrapper {
    overflow: hidden; }
    .logo-search-wrapper .wordmark-wrapper, .logo-search-wrapper .move-input {
      float: left;
      width: 45%; }
    .logo-search-wrapper .wordmark {
      margin-right: 5%;
      margin-bottom: 0;
      padding-top: 0.7rem; }
    .logo-search-wrapper .move-input {
      margin-left: 5%;
      text-align: right; }

  /*ARTICLE*/
  article .leslie {
    float: left;
    width: 50%;
    margin-right: 5%; }

  /*ASIDE*/
  aside {
    overflow: hidden; }
    aside .headlines, aside .related {
      float: left;
      width: 45%; }
    aside .headlines {
      margin-right: 5%; }
    aside .related {
      margin-left: 5%; }

  /*FOOTER*/
  footer {
    overflow: hidden; }
    footer .footer-nav, footer .secondary-footer-nav, footer .social-copyright {
      float: left;
      width: 30%; }
    footer .secondary-footer-nav {
      margin-right: 4.5%;
      margin-left: 4.5%; } }
/*ARTICLE AND ASIDE CHANGES*/
@media screen and (min-width: 1000px) {
  .main-content, aside {
    float: left; }

  .main-content {
    width: 70%; }

  aside {
    width: 20%;
    margin-left: 5%; }
    aside .headlines, aside .related {
      float: none;
      width: 100%; }
    aside .headlines {
      margin-right: 0; }
    aside .related {
      margin-left: 0; } }

/*# sourceMappingURL=main.css.map */
